html {
    margin: 0;
    padding: 0;
    background-color: #4a1457;
    overflow: hidden;
    font-family: 'Poiret One', cursive;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.cover {
    background: url(cover.jpg) no-repeat center center fixed;
    opacity: .60;
}

.modal {
    display: none;
    background-color: #ffffff;
}

.modal .contents {
    padding: 45px;
    position: absolute;
    top: 0;
    bottom: 124px;
    overflow-y: scroll;
}

.modal .contents .text {
    color: #000000;
    font-size: 32px;
}

.modal .navigation {
    background-color: #4a1457;
}

.modal .navigation * {
    color: #ffffff;
}

.modal, .cover {
    height: 100%;
    width: 100%;
    position: absolute;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navigation {
    width: 100%;
    max-width: 740px;
    position: absolute;
    bottom: 45px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
}

.fade {
    height: 60px;
    width: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    position: absolute;
    bottom: 124px;
}

@media screen and (min-width: 744px) {
    .navigation {
        border-radius: 3px;
    }
}

body > .navigation {
    background-color: rgba(255, 255, 255, 0.65);
}

body > .navigation * {
    width: 185px;
    display: table-cell;
    vertical-align: middle;
    color: #4a1457;
    border-color: #4a1457;
}

.navigation a {
    font-size: 24px;
    text-transform: uppercase;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    opacity: .65;
}

a:active {
    text-decoration: none;
}

p {
    margin: 0;
    white-space: pre-line;
}

